
#screen {
    align-content: center;
    margin-top: 0px;
    padding-top: 0px;
    height: 100vh;
}


#logo-big {
    color: #ffffff;
    font-size: 46pt;
    font-family: "Monoton", sans-serif;;
    text-transform: uppercase;
    letter-spacing: 5pt;
    margin-top: 10px;
}

#user-navbar {
    margin-bottom: 30px;
}

#sublitle {
    color: #ff56d8;
    font-size: 16pt;
    font-family:monospace;
    text-transform: uppercase;
    letter-spacing: 3pt;
}

#header-welcome {
    margin-bottom: 80px;
}

#footer-welcome {
    margin-top: 80px;
}

/* #logo-small {
    color: #ffffff;
    font-size: 10pt;
    font-family: "Monoton", sans-serif;
    text-transform: uppercase;
    letter-spacing: 5pt;
    margin-top: 0px;
    padding-top: 0px;
} */

h1 {
    color: #ffffff;
    font-size: 40pt;
    font-family: "Monoton", sans-serif;;
    text-transform: uppercase;
    letter-spacing: 5pt;
}

h2 {
    color: #ff56d8;
    font-size: 16pt;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 3pt;

}

h3 {
    color: #ffffff;
    font-size: 10pt;
    font-family:monospace;
    text-transform: uppercase;
    letter-spacing: 3pt;
}

.btn-lg,.btn-sm {
    border-width: 2px;
}

.btn-group{
    margin-top: 0px;
    margin-bottom: 30px;
}

.btn-group-vertical {
    width: 400px;

}

.btn-group-vertical > button{
    margin-bottom:10px;
    border-radius:10px !important;
}

#name_form {
    width: 400px;
    margin: 100px auto; /* Centers the form horizontally */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the items within the form */
    justify-content: center; /* Centers the form vertically */
    text-align: center;
}



/* Basic game: */
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
  
body { 
    height: 100vh; 
    width: 100vw; 
    background-color: #232222; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 0px;
    padding-top: 0px;
}

.board { 
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
    height: 80vh; 
    width: 80vw; /* This ensures the width is 80% of the viewport width */
    border: 2px solid rgb(255, 255, 255);
    margin: auto; /* Center the board horizontally */
    position: relative; /* Ensure proper positioning of child elements */
}

/* 'Press enter to play' message */
.message { 
    position: fixed; 
    color: #7d7fac; 
    text-align: center;
    top: calc(50 vh); 
    margin: 30px auto auto auto; 
}
  
.ball { 
    height: 30px; 
    width: 30px; 
    border-radius: 50%; 
    position: fixed; 
    top: calc(50% - 15px); 
    left: calc(50% - 15px); 
    background-color: white;
}

.paddle { 
    height: 80px; 
    width: 10px; 
    position: fixed; 
    background-color: white;
    top: calc(50 vh);
} 

#scores {
    top: calc(15vh); 
    font-size: 30pt;
    font-family:monospace;
    text-transform: uppercase;
    letter-spacing: 3pt;
    margin-top: 10px;
}
  
.paddle_1 { 
    left: calc(10vw + 10px);  
    background-color: rgb(31, 172, 237);
} 
  
.paddle_2 {  
    right: calc(10vw + 10px);   
    background-color: rgb(191, 43, 221);
} 

.player_1_score {
    color: rgb(31, 172, 237);
    position: fixed;
    left: calc(10vw + 10px);
    display: flex;
    justify-content: center;
    margin: auto; /* Center the board horizontally */
    z-index: 1; /* Ensure the score is on top of other elements */
}

.player_2_score {
    color: rgb(191, 43, 221);
    position: fixed;
    right: calc(10vw + 10px);
    display: flex;
    justify-content: center;
    margin: auto; /* Center the board horizontally */
    z-index: 1; /* Ensure the score is on top of other elements */
}

/* 4-player game */

.paddle_3 { 
    left: calc(20vw + 10px);  
    background-color: rgb(115, 185, 108);
} 
  
.paddle_4 { 
    right: calc(20vw + 10px);   
    background-color: rgb(224, 204, 107);

}

.player_3_score {
    color: rgb(115, 185, 108);
    position: fixed;
    left: calc(20vw + 10px);
    display: flex;
    justify-content: center;
    margin: auto; /* Center the board horizontally */
    z-index: 1; /* Ensure the score is on top of other elements */
}

.player_4_score {
    color:  rgb(224, 204, 107);
    position: fixed;
    right: calc(20vw + 10px);
    display: flex;
    justify-content: center;
    margin: auto; /* Center the board horizontally */
    z-index: 1; /* Ensure the score is on top of other elements */
}