
#screen {
    align-content: top;
    margin-top: 0px;
    padding-top: 0px;
    height: 100vh;
}


#logo-big {
    color: #ffffff;
    font-size: 46pt;
    font-family: "Monoton", sans-serif;;
    text-transform: uppercase;
    letter-spacing: 5pt;
    margin-top: 10px;
}

#user-navbar {
    margin-bottom: 30px;
}

#sublitle {
    color: #ff56d8;
    font-size: 16pt;
    font-family:monospace;
    text-transform: uppercase;
    letter-spacing: 3pt;
}

#header-welcome {
    margin-bottom: 10px;
}

#header-game {
    align-content: top;
    margin-top: 10px;
    margin-bottom: 10px;
}

#choose-mode {
    margin-top: 100px;
    margin-bottom: 100px;
}

#footer-welcome {
    margin-top: 30px;
}

#profile-menu {
    margin-bottom: 50px;
}

/* #logo-small {
    color: #ffffff;
    font-size: 10pt;
    font-family: "Monoton", sans-serif;
    text-transform: uppercase;
    letter-spacing: 5pt;
    margin-top: 0px;
    padding-top: 0px;
} */

h1 {
    color: #ffffff;
    font-size: 40pt;
    font-family: "Monoton", sans-serif;;
    text-transform: uppercase;
    letter-spacing: 5pt;
}

h2 {
    color: #ff56d8;
    font-size: 16pt;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 3pt;

}

h3 {
    color: #ffffff;
    font-size: 10pt;
    font-family:monospace;
    text-transform: uppercase;
    letter-spacing: 3pt;
}

.btn-lg,.btn-sm {
    border-width: 2px;
}

.btn-group{
    margin-top: 0px;
}

.btn-group-vertical {
    width: 400px;

}

.btn-group-vertical > button{
    margin-bottom:10px;
    border-radius:10px !important;
}

#name_form {
    width: 400px;
    margin: 100px auto; /* Centers the form horizontally */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the items within the form */
    justify-content: center; /* Centers the form vertically */
    text-align: center;
}



/* Basic game: */
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 

body { 
    height: 100vh; 
    width: 100vw; 
    background-color: #232222; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 0px;
    padding-top: 0px;
}

#game-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    overflow: hidden;
}

#ball {
    position: absolute;
    width: 1.28%;
    padding-bottom: 1.28%;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.paddle {
    position: absolute;
    width: 1.28%;
    height: 21.05%;
    background-color: white;
}

#paddle1 {
    left: 1.28%;
}

#paddle2 {
    right: 1.28%;
}

#score1, #score2 {
    position: absolute;
    top: 10%;
    color: white;
    font-size: 5vh;
}

#score1 {
    left: 25%;
}

#score2 {
    right: 25%;
}

#player1-name, #player2-name {
    position: absolute;
    top: 5%;
    color: white;
    font-size: 3vh;
}

#player1-name {
    left: 25%;
    transform: translateX(-50%);
}

#player2-name {
    right: 25%;
    transform: translateX(50%);
}

#message {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 3vh;
    text-align: center;
    width: 100%;
}