
#screen {
    align-content: top;
    margin-top: 0px;
    padding-top: 0px;
    height: 100vh;
}


#logo-big {
    color: #ffffff;
    font-size: 46pt;
    font-family: "Monoton", sans-serif;;
    text-transform: uppercase;
    letter-spacing: 5pt;
    margin-top: 10px;
}

#user-navbar {
    margin-bottom: 30px;
}

#sublitle {
    color: #ff56d8;
    font-size: 16pt;
    font-family:monospace;
    text-transform: uppercase;
    letter-spacing: 3pt;
}

#header-welcome {
    margin-bottom: 10px;
}

#header-game {
    align-content: top;
    margin-top: 10px;
    margin-bottom: 10px;
}

#choose-mode {
    margin-top: 100px;
    margin-bottom: 100px;
}

#footer-welcome {
    margin-top: 30px;
}

#profile-menu {
    margin-bottom: 50px;
}

h1 {
    color: #ffffff;
    font-size: 40pt;
    font-family: "Monoton", sans-serif;;
    text-transform: uppercase;
    letter-spacing: 5pt;
}

h2 {
    color: #ff56d8;
    font-size: 16pt;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 3pt;

}

h3 {
    color: #ffffff;
    font-size: 10pt;
    font-family:monospace;
    text-transform: uppercase;
    letter-spacing: 3pt;
}

.btn-lg,.btn-sm {
    border-width: 2px;
}

.btn-group{
    margin-top: 0px;
}

.btn-group-vertical {
    width: 400px;

}

.btn-group-vertical > button{
    margin-bottom:10px;
    border-radius:10px !important;
}
/* 
#name_form {
    width: 400px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
} */



/* Basic game: */
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 

body { 
    height: 100vh; 
    width: 100vw; 
    background-color: #232222; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 0px;
    padding-top: 0px;
}

#game-area {
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
    border: 2px solid rgb(255, 255, 255);
    margin: auto; /* Center the board horizontally */
    position: relative;
}

#ball {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    position: absolute;
    background-color: white;
    transform: translate(-50%, -50%);
    left: 450px;
    top: 290px;
}

.paddle {
    position: absolute;
    height: 100px; 
    width: 10px;
    top: 260px;
}

#paddle1 {
    left: calc(50% - 440px);  
    background-color: rgb(31, 172, 237);
}

#paddle2 {
    right: calc(50% - 440px);
    background-color: rgb(191, 43, 221);
}

#score1, #score2 {
    top: 104px; 
    font-size: 30pt;
    font-family:monospace;
    text-transform: uppercase;
    letter-spacing: 3pt;
}

#score1 {
    color: rgb(31, 172, 237);
    position: fixed;
    left: calc(50% - 440px);
    display: flex;
    justify-content: center;
    margin: auto; /* Center the board horizontally */
    z-index: 1; /* Ensure the score is on top of other elements */
}

#score2 {
    color: rgb(191, 43, 221);
    position: fixed;
    right: calc(50% - 440px);
    display: flex;
    justify-content: center;
    margin: auto; /* Center the board horizontally */
    z-index: 1; /* Ensure the score is on top of other elements */
}


#player1-name, #player2-name {
    top: 79px; 
    font-size: 10pt;
    font-family:monospace;
    text-transform: uppercase;
    letter-spacing: 3pt;
}

#player1-name {

    text-align: left;
    color: rgb(31, 172, 237);
    position: fixed;
    left: calc(50% - 440px);
    display: flex;
}

#player2-name {

    text-align: right;
    right: calc(50% - 440px);
    display: flex;
    position: fixed;
    color: rgb(191, 43, 221);
}

.message { 
    position: fixed; 
    color: #7d7fac; 
    text-align: center;
    top: 300px; 
    margin: 130px auto auto auto; 
    font-size: 10pt;
    font-family:monospace;
    text-transform: uppercase;
    letter-spacing: 3pt;
}


#four_game-area {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
    background-color: #000;
    overflow: hidden;
}

#four_ball {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.four_paddle {
    position: absolute;
    /* background-color: white; */
}

#four_paddle1 {
    left: 0;
    top: 200px;
    width: 10px;
    height: 80px;
    transform: translateY(-50%);
	background-color: yellow;
}

#four_paddle2 {
    top: 0;
    left: 200px;
    width: 80px;
    height: 10px;
    transform: translateX(-50%);
	background-color: blue;
}

#four_paddle3 {
    right: 0;
    top: 200px;
    width: 10px;
    height: 80px;
    transform: translateY(-50%);
	background-color: red;
}

#four_paddle4 {
    bottom: 0;
    left: 200px;
    width: 80px;
    height: 10px;
    transform: translateX(-50%);
	background-color: white;
}

#four_score1, #four_score2, #four_score3, #four_score4 {
    position: absolute;
    color: white;
    font-size: 20px;
}

#four_score1 {
    left: 10%;
    top: 5%;
}

#four_score2 {
    right: 10%;
    top: 5%;
}

#four_score3 {
    right: 10%;
    bottom: 5%;
}

#four_score4 {
    left: 10%;
    bottom: 5%;
}

#four_player1-name, #four_player2-name, #four_player3-name, #four_player4-name {
    position: absolute;
    /* color: white; */
    font-size: 12px;
}

#four_player1-name {
    left: 10%;
    top: 2%;
	color: yellow;
}

#four_player2-name {
    right: 10%;
    top: 2%;
	color: blue;
}

#four_player3-name {
    right: 10%;
    bottom: 2%;
	color: red;
}

#four_player4-name {
    left: 10%;
    bottom: 2%;
	color: white;
}

#four_message {
    /* position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 12px;
    text-align: center;
    width: 100%; */
    position: fixed; 
    color: #7d7fac; 
    text-align: center;
    top: 300px; 
    margin: 60px auto auto auto; 
    font-size: 10pt;
    font-family:monospace;
    text-transform: uppercase;
    letter-spacing: 3pt;
}
