{% extends "game/index.html" %}
{% load static %}
{% load i18n %}

{% block choose_mode %}
<a href="{% url 'game_start' %}" type="button" class="btn btn-outline-primary btn-lg btn-block">👈 {% translate "MENU" %}</a>

<a href="{% url 'two_pl_game' %}" type="button" class="btn btn-outline-primary btn-lg btn-block">{% translate "Two players" %}</a>
<a href="{% url 'four_pl_game' %}" type="button" class="btn btn-outline-primary btn-lg btn-block">{% translate "Four players" %}</a>
<a href="{% url 'tournament' profile.display_name %}" type="button" class="btn btn-outline-primary btn-lg btn-block">{% translate "Tournament" %}</a>
 {% endblock choose_mode %}
