{% extends "game/index.html" %}
{% load static %}
{% load i18n %}

{% block four_pl_game %}
    <!-- Game navigation bar -->
    {% include 'game/header-button-logged.html' %}

    <!-- PUT YOUR CODE FROM HERE! -->

    <!-- 4 player game -->
    
	<body>
		<div id="four_game-area">
			<p class="text-center"><h3 id="four_message" class="four_message"></h3></p>
			<div id="four_ball"></div>
			<div id="four_paddle1" class="four_paddle"></div>
			<div id="four_paddle2" class="four_paddle"></div>
			<div id="four_paddle3" class="four_paddle"></div>
			<div id="four_paddle4" class="four_paddle"></div>
			<div id="four_player1-name" class="player-name">Player1</div>
			<div id="four_score1">0</div>
			<div id="four_player2-name" class="player-name">Player2</div>
			<div id="four_score2">0</div>
			<div id="four_player3-name" class="player-name">Player3</div>
			<div id="four_score3">0</div>
			<div id="four_player4-name" class="player-name">Player4</div>
			<div id="four_score4">0</div>
		</div>
		<script src="{% static 'js/4player.js' %}"></script>
	</body>
	
    <!-- UNTIL HERE! -->
{% endblock four_pl_game %}