{% extends "game/index.html" %}
{% load static %}
{% load i18n %}

{% block four_pl_game %}
    <!-- Game navigation bar *don't remove -->
    <div class="container" id="header-game">
        <div class="row justify-content-center">
            <div class="row justify-content-center btn-group">
                <a href="{% url 'game_start' %}" class="btn btn-outline-primary btn-sm" id="restart">👈 {% translate "Exit the game" %}</a>
            </div>
        </div>
    </div>

    <!-- PUT YOUR CODE FROM HERE! -->

    <!-- 4 player game -->
    
	<body>
		<div id="game-areas">
			<div id="message" class="message"></div>
			<div id="ball"></div>
			<div id="paddles1" class="paddles"></div>
			<div id="paddles2" class="paddles"></div>
			<div id="paddles3" class="paddles"></div>
			<div id="paddles4" class="paddles"></div>
			<div id="team1-name" class="team-name"></div>
			<div id="score1">0</div>
			<div id="team2-name" class="team-name"></div>
			<div id="score2">0</div>
		</div>
		<script src="{% static 'js/4player.js' %}"></script>
	</body>
	
    <!-- UNTIL HERE! -->
{% endblock four_pl_game %}