{% extends "game/index.html" %}
{% load static %}
{% load i18n %}

{% block four_pl_game %}
    <!-- Game navigation bar *don't remove -->
    <div class="container" id="header-game">
        <div class="row justify-content-center">
            <div class="row justify-content-center btn-group">
                <a href="{% url 'game_start' %}" class="btn btn-outline-primary btn-sm" id="restart">👈 {% translate "Exit the game" %}</a>
            </div>
        </div>
    </div>

    <!-- PUT YOUR CODE FROM HERE! -->

    <!-- 4 player game -->
    <div class="container" id="4-pl-game">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-auto">
                    <div class="board">
                        <div class='ball'>
                            <div class="ball_effect"></div>
                        </div>

                        <!-- Paddlest left -> to right -->
                        <div class="paddle_1 paddle"></div> <!-- left -->
                        <div class="paddle_3 paddle"></div> <!-- left -->
                        <div class="paddle_2 paddle"></div> <!-- right -->
                        <div class="paddle_4 paddle"></div> <!-- right -->
                        
                        <!-- Scores left -> to right -->
                        <h3 class="player_1_score" id="scores">0</h3> <!-- left -->
                        <h3 class="player_3_score" id="scores">0</h3> <!-- left -->
                        <h3 class="player_2_score" id="scores">0</h3> <!-- right -->
                        <h3 class="player_4_score" id="scores">0</h3> <!-- right -->

                        <p class="text-center"><h3 class="message" >{% translate "Press Enter to Play" %}</h3></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- UNTIL HERE! -->
{% endblock four_pl_game %}