{% load static %}
{% load i18n %}
{% get_available_languages as languages %}

<!DOCTYPE html>
<html lang="en">
    
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PONG 3.0</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Font CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

    <!-- Images -->
    <link rel="icon" href="{% static 'img/fav.ico' %}" type="image/x-icon">

    <!-- Bootstrap JS and dependencies -->
 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
    <!-- Custom JavaScript -->
    <script src="{% static 'js/index.js' %}" defer></script>
</head>

<body>

    <div class="container" id="screen"> <!-- 100vh container -->

        <!-- Language Switcher Dropdown -->
        <div id="language" class="container mt-3" style="display:none;">
            <form id="languageForm" action="{% url 'set_language' %}" method="post" class="form-inline">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <div class="input-group">
                    <select name="language" id="languageSelect" class="custom-select">
                        {% for lang_code, lang_name in languages %}
                            <option value="{{ lang_code }}" {% if lang_code == request.LANGUAGE_CODE %} selected {% endif %}>
                                {{ lang_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            <script>
                document.getElementById('languageSelect').addEventListener('change', function() {
                    document.getElementById('languageForm').submit();
                });
            </script>
        </div>   

        <!-- Welcome page header with large logo -->
        <div id="header-welcome" class="container" style="display:none;">
            <p class="text-center" id="logo-big">PONG 3.1</p>
            <p class="text-center" id ="sublitle">{% translate "game that takes you to transcendence" %}</p>
        </div>


        <!-- OFFLINE!========================================================================================================== -->

        <!-- Offline navigation block -->
        <div id="offline-choose-mode" class="content-section choose-mode" style="display:none;">
            <div class="row justify-content-center">
                <div class="btn-group-vertical">
                    <div class="container" id="choose-mode-online"> 
                        <a href="#offline-1x1" type="button" class="btn btn-outline-primary btn-lg btn-block">{% translate "Play 1 x 1 offline" %}</a>
                        <a href="#offline-tournament" type="button" class="btn btn-outline-primary btn-lg btn-block">{% translate "Tournament offline" %}</a>
                        <a href="#get-started" type="button" class="btn btn-outline-primary btn-lg btn-block">{% translate "Login and play online" %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section choose-mode">
            <div class="row justify-content-center">
                    <div class="btn-group-vertical">
                        <div class="container" id="choose-mode-online"> 
                            <a href="#offline-1x1" type="button" class="btn btn-outline-primary btn-lg btn-block">{% translate "Play 1 x 1 offline" %}</a>
                            <a href="#offline-tournament" type="button" class="btn btn-outline-primary btn-lg btn-block">{% translate "Tournament offline" %}</a>
                            <a href="#get-started" type="button" class="btn btn-outline-primary btn-lg btn-block">{% translate "Login and play online" %}</a>
                        </div>
                    </div>
            </div>
        </div>


        <!-- Offline 1x1 game -->
        <div id="offline-1x1" class="content-section" style="display:none;">
            <!-- Offline header button-->
            <div id="off-header-game" class="container header-game">
                <div class="row justify-content-center">
                    <div class="row justify-content-center btn-group">
                        <button id="exitOffGameBtn" class="btn btn-outline-primary btn-sm btn-block">👈 {% translate "Exit the game" %}</button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="container-fluid">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-auto">
                            <div id="player_form">
                                <input type="text" class="form-control" id="player1NameInput" placeholder="Player 1 name" required>
                                <input type="text" class="form-control" id="player2NameInput" placeholder="Player 2 name" required>
                                <button id="startGameBtn" class="btn btn-primary">Start Game</button>
                            </div>
                            <div class="board">
                                <div class='ball'>
                                    <div class="ball_effect"></div>
                                </div>
                                <div class="paddle_1_off paddle_off"></div>
                                <div class="paddle_2_off paddle_off"></div>
                                <h3 class="player_1_score" id="scores">0</h3>
                                <h3 class="player_2_score" id="scores">0</h3>
                                <h3 class="player_1_name" id="player1Name">Player 1</h3>
                                <h3 class="player_2_name" id="player2Name">Player 2</h3>
                                <div id="winnerMessage" class="winner-message" style="display: none;">
                                    <h2 id="winnerName"></h2>
                                </div>
                                <p class="text-center"><h3 class="message" id="offline-message" >{% translate "Press Enter to Play" %}</h3></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Offline Tournament -->
         <div id="offline-tournament" class="content-section" style="display:none;">
            <!-- Offline Tour header button-->
            <div id="off-header-game" class="container header-game">
                <div class="row justify-content-center">
                    <div class="row justify-content-center btn-group">
                        <button id="exitOffTourBtn" class="btn btn-outline-primary btn-sm btn-block">👈 {% translate "Exit the game" %}</button>
                    </div>
                </div>
            </div>
            <h1 class="text-center" id="tour_header">Tournament</h1>
            <div id="player_form_4">
                <input type="text" class="form-control" id="player1NameInput_4" placeholder="Player 1 name" required maxlength="15">
                <input type="text" class="form-control" id="player2NameInput_4" placeholder="Player 2 name" required maxlength="15">
                <input type="text" class="form-control" id="player3NameInput_4" placeholder="Player 3 name" required maxlength="15">
                <input type="text" class="form-control" id="player4NameInput_4" placeholder="Player 4 name" required maxlength="15">
                <button id="startTourBtn" class="btn btn-primary">Start Game</button>
            </div>
            
            <div class="tournament-table" id="tournament-table" style="display: none">
                <p class="welcome">Welcome, players!</p>
                <div id="champ"></div>
                <div id="info"></div>
                
                <h2 class="text-center">Semi-finals</h2>
                <div class="tournament_off">
                        <div class="match_off" id="match-semi-finals-0">
                            <div class="d-flex justify-content-center">
                                <h3>Match 1</h3>
                            </div>
                            <p class="player" id="table_name1_4"></p>
                            <p class="vs">vs</p>
                            <p class="player" id="table_name2_4"></p>
                        </div>
                        <div class="match_off" id="match-semi-finals-1">
                            <div class="d-flex justify-content-center">
                                <h3>Match 2</h3>
                            </div>
                            <p class="player" id="table_name3_4"></p>
                            <p class="vs">vs</p>
                            <p class="player" id="table_name4_4"></p>
                        </div>
                </div>
                <button id="go-to-match">Go to Match</button>
            </div>

            <div class="tournament-game" id="tournament-game" style="display: none">
                <div class="container" id="offline-game">
                    <div class="container-fluid">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-auto">
                                <div class="board">
                                    <div class='ball'>
                                        <div class="ball_effect"></div>
                                    </div>
                                    <div class="paddle_1_off paddle_off"></div>
                                    <div class="paddle_2_off paddle_off"></div>
                                    <h3 class="player_1_score" id="scores">0</h3>
                                    <h3 class="player_2_score" id="scores">0</h3>
                                    <h3 class="player_1_name" id="player1Name_4">Player 1</h3>
                                    <h3 class="player_2_name" id="player2Name_4">Player 2</h3>
                                    <div id="winnerMessage_4" class="winner-message">
                                        <h2 id="winnerName_4"></h2>
                                    </div>
                                    <div class="megaWinner" id="megaWinner" style="display: none;">
                                        <h2 id="megaWinnerName"></h2>
                                    </div>
                                    <button id="exitTour" class="btn btn-primary" style="display: none;">Exit</button>                            
                                    <button id="nextGame" class="btn btn-primary" style="display: none;">Next Game!</button>
                                    <p class="text-center"><h3 class="message" >{% translate "Press Enter to Play" %}</h3></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>

        <!-- ONLINE!=========================================================================================================== -->
        
        <!-- Online header button-->
        <div id="online-header-game" class="container header-game" style="display:none;">
            <div class="row justify-content-center">
                <div class="row justify-content-center btn-group">
                    <a href="#get-started" type="button" class="btn btn-outline-primary btn-sm btn-block">👈 {% translate "Exit the game" %}</a>
                </div>
            </div>
        </div>

        <!-- Navigation horizontal buttons --> 
        <div id="hor-nav" class="container">
            <div class="row justify-content-center">
                <div class="btn-group" role="group">
                    <a href="#profile" type="button" class="btn btn-outline-primary btn-sm online-nav">👤 {% translate "Profile" %}</a>
                    <a href="#leaderboard" type="button" class="btn btn-outline-primary btn-sm online-nav">🏆 {% translate "Leaderboard" %}</a>
                    <a href="#offline-choose-mode" type="button" class="btn btn-outline-primary btn-sm online-nav">❌ {% translate "Log out" %}</a>
                </div>
            </div>
        </div>

        <!--Get started = navigation vertical buttons --> 
        <div id="get-started" class="content-section choose-mode" style="display:none;">
            <div class="row justify-content-center">
                    <div class="btn-group-vertical">
                        <div class="container" id="choose-mode-online"> 
                            <a href="#online-1x1" type="button" class="btn btn-outline-primary btn-lg btn-block">{% translate "Two players" %}</a>
                            <a href="#online-4" type="button" class="btn btn-outline-primary btn-lg btn-block">{% translate "Four players" %}</a>
                            <a href="#online-tournament" type="button" class="btn btn-outline-primary btn-lg btn-block">{% translate "Tournament" %}</a>
                        </div>
                    </div>
            </div>
        </div>

        <!-- Online 1x1 game-->
        <div id="online-1x1" class="content-section" style="display:none;">
            <div id="game-area">
                <p class="text-center"><h3 id="message" class="message"></h3></p>
                <div id="ball"></div>
                <div id="paddle1" class="paddle"></div>
                <div id="paddle2" class="paddle"></div>
                <div id="player1-name" class="player-name"></div>
                <div id="score1">0</div>
                <div id="player2-name" class="player-name"></div>
                <div id="score2">0</div>
            </div>
        </div>

        <!-- Online 4 game-->
        <div id="online-4" class="content-section" style="display:none;">
            <div id="four_game-area">
                <p class="text-center"><h3 id="four_message" class="four_message"></h3></p>
                <div id="four_ball"></div>
                <div id="four_paddle1" class="four_paddle"></div>
                <div id="four_paddle2" class="four_paddle"></div>
                <div id="four_paddle3" class="four_paddle"></div>
                <div id="four_paddle4" class="four_paddle"></div>
                <div id="four_player1-name" class="player-name">Player1</div>
                <div id="four_score1">0</div>
                <div id="four_player2-name" class="player-name">Player2</div>
                <div id="four_score2">0</div>
                <div id="four_player3-name" class="player-name">Player3</div>
                <div id="four_score3">0</div>
                <div id="four_player4-name" class="player-name">Player4</div>
                <div id="four_score4">0</div>
            </div>
        </div>

        <!-- Online Tournament -->
        <div id="online-tournament" class="content-section" style="display:none;">
            <div id="tournament-page">
                <h1 class="text-center">Tournament</h1>
                <p class="welcome">Welcome, <span id="username">{{ user.username }}</span>!</p>
                <div id="champ"></div>
                <div id="info"></div>
                <div class="tournament">
                    <div class="round" id="semi-finals">
                        <h2 class="text-center">Semi-finals</h2>
                        <div class="match" id="match-semi-finals-0">
                            <h3>Match 1</h3>
                            <p class="player player1">Waiting for player</p>
                            <p class="vs">vs</p>
                            <p class="player player2">Waiting for player</p>
                        </div>
                        <div class="match" id="match-semi-finals-1">
                            <h3>Match 2</h3>
                            <p class="player player1">Waiting for player</p>
                            <p class="vs">vs</p>
                            <p class="player player2">Waiting for player</p>
                        </div>
                    </div>
                    <div class="round">
                        <h2 class="text-center">Final</h2>
                        <div class="match" id="match-final">
                            <h3>Final Match</h3>
                            <p class="player player1">Waiting for player</p>
                            <p class="vs">vs</p>
                            <p class="player player2">Waiting for player</p>
                        </div>
                    </div>
                </div>
            
                <button id="go-to-match" class="hidden">Go to Match</button>
                <!-- <script src="{% static 'js/tour.js' %}"></script> -->
            </div>
        </div>

        <!-- Online Tournament game -->
        <div id="online-tournament-game" class="content-section" style="display:none;">
            <div id="game-area">
                <div id="message" class="message"></div>
                <div id="ball"></div>
                <div id="paddle1" class="paddle"></div>
                <div id="paddle2" class="paddle"></div>
                <div id="player1-name" class="player-name"></div>
                <div id="score1">0</div>
                <div id="player2-name" class="player-name"></div>
                <div id="score2">0</div>
            </div>
        </div>

        <!-- Footer -->
        <div class="container" id="footer-welcome">
            <h3 class="text-center">42 {% translate "Berlin" %} | 2024</h3>
        </div>

    </div>
</body>
</html>
