{% extends "game/index.html" %}
{% load static %}
{% load i18n %}

{% block offline_game %}

<!-- Game navigation bar -->
{% include 'game/header-button-unlogged.html' %}

<div id="name_form">
    <div class="form-group">
        <input type="text" class="form-control" id="player1NameInput" placeholder="Player 1 Name" required>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="player2NameInput" placeholder="Player 2 Name" required>
    </div>
    <button id="startGameBtn" class="btn btn-primary">Start Game</button>
</div>

<!-- Display player names -->
<div id="playerNames" style="text-align: center;">
    <h3 id="player1Name">Player 1</h3>
    <h3 id="player2Name">Player 2</h3>
</div>

<!-- 2 player game -->
<body>
<div class="container" id="offline-game">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-auto">
                <div class="board">
                    <div class='ball'>
                        <div class="ball_effect"></div>
                    </div>
                    <div class="paddle_1 paddle"></div>
                    <div class="paddle_2 paddle"></div>
                    <h3 class="player_1_score" id="scores">0</h3>
                    <h3 class="player_2_score" id="scores">0</h3>
                    <div id="winnerMessage" class="winner-message" style="display: none;">
                        <h2 id="winnerName"></h2>
                    </div>
                    <p class="text-center"><h3 class="message" >{% translate "Press Enter to Play" %}</h3></p>
                    <!-- <div id="name_form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="player1Name" placeholder="Player 1 Name" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="player2Name" placeholder="Player 2 Name" required>
                        </div>
                        <button id="startGameBtn" class="btn btn-primary">Start Game</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<style>

#name_form {
    width: 400px;
    margin: 100px auto; /* Centers the form horizontally */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the items within the form */
    justify-content: center; /* Centers the form vertically */
    text-align: center;
}



/* Basic game: */
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
  
body { 
    height: 100vh; 
    width: 100vw; 
    background-color: #232222; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 0px;
    padding-top: 0px;
}

.board { 
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
    height: 80vh; 
    width: 80vw; /* This ensures the width is 80% of the viewport width */
    border: 2px solid rgb(255, 255, 255);
    margin: auto; /* Center the board horizontally */
    position: relative; /* Ensure proper positioning of child elements */
}

/* 'Press enter to play' message */
.message { 
    position: fixed; 
    color: #7d7fac; 
    text-align: center;
    top: calc(50 vh); 
    margin: 60px auto auto auto; 
}


.winner-message {
    position: absolute;
    top: 40%;
    border-radius: 5px;
    display: none; /* Initially hide the winner message */

}

  
.ball { 
    height: 30px; 
    width: 30px; 
    border-radius: 50%; 
    position: fixed; 
    top: calc(50% - 15px); 
    left: calc(50% - 15px); 
    background-color: white;
}

.paddle { 
    height: 100px; 
    width: 10px; 
    position: fixed; 
    background-color: white;
    top: calc(50 vh);
} 

#scores {
    top: calc(15vh); 
    font-size: 30pt;
    font-family:monospace;
    text-transform: uppercase;
    letter-spacing: 3pt;
    margin-top: 10px;
}
  
.paddle_1 { 
    left: calc(10vw + 10px);  
    background-color: rgb(31, 172, 237);
} 
  
.paddle_2 {  
    right: calc(10vw + 10px);   
    background-color: rgb(191, 43, 221);
} 

.player_1_score {
    color: rgb(31, 172, 237);
    position: fixed;
    left: calc(10vw + 10px);
    display: flex;
    justify-content: center;
    margin: auto; /* Center the board horizontally */
    z-index: 1; /* Ensure the score is on top of other elements */
}

.player_2_score {
    color: rgb(191, 43, 221);
    position: fixed;
    right: calc(10vw + 10px);
    display: flex;
    justify-content: center;
    margin: auto; /* Center the board horizontally */
    z-index: 1; /* Ensure the score is on top of other elements */
}
#playerNames {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
#player1Name {
    text-align: left;
    color: rgb(31, 172, 237);
}
#player2Name {
    text-align: right;
    color: rgb(191, 43, 221);
}

#name_form {
    position: absolute; /* Position the form absolutely */
    top: 25%; /* Adjust top positioning as needed */
    
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    background-color: white; /* White background color */
    padding: 20px; /* Padding inside the form */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    z-index: 10; /* Ensure form appears above other elements */
}

.form-control {
    width: 100%; /* Full width input */
    margin-bottom: 10px; /* Spacing between inputs */
}

.btn-primary {
    width: 100%; /* Full width button */
    margin-top: 10px; /* Spacing between input and button */
}


</style>

<script src="{% static 'js/offline_game.js' %}"></script>
</body>
{% endblock offline_game %}