{% extends "game/index.html" %}
{% load static %}
{% load i18n %}

{% block offline_game %}

<!-- Game navigation bar -->
{% include 'game/header-button-unlogged.html' %}

<!-- 2 player game -->
<body>
<div class="container" id="offline-game">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-auto">
                <div id="player_form">

                        <input type="text" class="form-control" id="player1NameInput" placeholder="Player 1 name" required>

                        <input type="text" class="form-control" id="player2NameInput" placeholder="Player 2 name" required>

                    <button id="startGameBtn" class="btn btn-primary">Start Game</button>
                </div>
                <div class="board">
                    <div class='ball'>
                        <div class="ball_effect"></div>
                    </div>
                    <div class="paddle_1_off paddle_off"></div>
                    <div class="paddle_2_off paddle_off"></div>
                    <h3 class="player_1_score" id="scores">0</h3>
                    <h3 class="player_2_score" id="scores">0</h3>
                    <h3 class="player_1_name" id="player1Name">Player 1</h3>
                    <h3 class="player_2_name" id="player2Name">Player 2</h3>
                    <div id="winnerMessage" class="winner-message" style="display: none;">
                        <h2 id="winnerName"></h2>
                    </div>
                    <p class="text-center"><h3 class="message" >{% translate "Press Enter to Play" %}</h3></p>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/offline_game.js' %}"></script>
</body>
{% endblock offline_game %}