{% extends "game/index.html" %}
{% load static %}
{% load i18n %}

{% block offline_game %}

<!-- Game navigation bar -->
{% include 'game/header-button-unlogged.html' %}

<!-- tournament -->

<body>
    <h1 class="text-center" id="tour_header">Tournament</h1>
    <div id="player_form">
        <input type="text" class="form-control" id="player1NameInput" placeholder="Player 1 name" required maxlength="15">
        <input type="text" class="form-control" id="player2NameInput" placeholder="Player 2 name" required maxlength="15">
        <input type="text" class="form-control" id="player3NameInput" placeholder="Player 3 name" required maxlength="15">
        <input type="text" class="form-control" id="player4NameInput" placeholder="Player 4 name" required maxlength="15">
        <button id="startGameBtn" class="btn btn-primary">Start Game</button>
    </div>
    
    <div class="tournament-table" id="tournament-table" style="display: none">
        <p class="welcome">Welcome, players!</p>
        <div id="champ"></div>
        <div id="info"></div>
        
        <h2 class="text-center">Semi-finals</h2>
        <div class="tournament_off">
                <div class="match_off" id="match-semi-finals-0">
                    <div class="d-flex justify-content-center">
                        <h3>Match 1</h3>
                    </div>
                    <p class="player" id="table_name1"></p>
                    <p class="vs">vs</p>
                    <p class="player" id="table_name2"></p>
                </div>
                <div class="match_off" id="match-semi-finals-1">
                    <div class="d-flex justify-content-center">
                        <h3>Match 2</h3>
                    </div>
                    <p class="player" id="table_name3"></p>
                    <p class="vs">vs</p>
                    <p class="player" id="table_name4"></p>
                </div>
        </div>
        <button id="go-to-match">Go to Match</button>
    </div>

    <div class="tournament-game" id="tournament-game" style="display: none">
        <div class="container" id="offline-game">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                    <div class="col-auto">
                        <div class="board">
                            <div class='ball'>
                                <div class="ball_effect"></div>
                            </div>
                            <div class="paddle_1_off paddle_off"></div>
                            <div class="paddle_2_off paddle_off"></div>
                            <h3 class="player_1_score" id="scores">0</h3>
                            <h3 class="player_2_score" id="scores">0</h3>
                            <h3 class="player_1_name" id="player1Name">Player 1</h3>
                            <h3 class="player_2_name" id="player2Name">Player 2</h3>
                            <div id="winnerMessage" class="winner-message" style="display: none;">
                                <h2 id="winnerName"></h2>
                            </div>
                            <div class="megaWinner" id="megaWinner" style="display: none;">
                                <h2 id="megaWinnerName"></h2>
                            </div>
                            <button id="exitTour" class="btn btn-primary" style="display: none;">Exit</button>                            
                            <button id="nextGame" class="btn btn-primary" style="display: none;">Next Game!</button>
                            <p class="text-center"><h3 class="message" >{% translate "Press Enter to Play" %}</h3></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'js/offline_tour.js' %}"></script>
</body>
{% endblock offline_game %}