{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Simple Page</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Pong</h1>
        <p>That takes you to transcendence.</p>
    </div>

	<div id="id-navbar" style="display: none;">

		<p class="error-message"></p>

		<div id="id-profile-button">
		<button id="fetchProfileButton">Profile</button>
		</div>

		<div id="id-logout">
			<form id="logoutform" method="POST" action="{% url 'json_logout' %}">
				{% csrf_token %}
				<input type="hidden">
				<input type="submit" value="❌ Log out">
			</form>
		</div>

	</div>

	<div id="id-login" style="display: block;">
		<p class="error-message"></p>
		<form id="login_form" method="POST" action="{% url 'json_login' %}" enctype="multipart/form-data">
			{% csrf_token %}
			<div>
				<label for ="login_name">Username:</label>
				<input type="text" id="login_name" name="login_name" required><br>
				<label for="login_password">Password:</label>
				<input type="password" id="login_password" name="login_password" required><br>
				<input type="submit" value="Login">
			</div>
		</form>
		<p>Don't have an account? Create one <a href="#" class="signup-link">Here</a></p>
	</div>

	<div id="id-signup" style="display: none;">
		<p class="error-message"></p>
		<form id="signup_form" method="POST" action="{% url 'json_signup' %}" enctype="multipart/form-data">
			{% csrf_token %}
				{{ UserCreationForm.as_p }}
			<input type="submit" value="Sign Up">
		</form>
		<p>Already have an account? Log in <a href="#" class="login-link">Here</a></p>
	</div>

	<div id="ProfilePage" style="display: none;"></div>
	<div id="ProfileListPage" style="display: none;"></div>

	<div id="id-update-avatar" style="display: none;">
		<p class="error-message"></p>
		<p class="success-message"></p>
        <form id="update_avatar_form" method="POST" action="{% url 'json_update_avatar' %}" enctype="multipart/form-data">
          {% csrf_token %}
			{{ UpdateAvatarForm.as_p }}
			<input type="submit" value="Save">
        </form>
    </div>

	<!-- <button id="fetchProfileListButton">Fetch Profile List Data</button>-->

	<div id="id-update-displayname" style="display: none;">
		<p class="error-message"></p>
		<p class="success-message"></p>
		<form id="update_display_name_form" method="POST" action="{% url 'json_update_display_name' %}">
			{% csrf_token %}
			<div>
				<p><label for="id_display_name">Display Name for Tournaments:</label></p>
				<input type="text" name="display_name" maxlength="12" id="id_display_name" required>
			</div><br><br>
			<div class="form-group">
				<input type="submit" value="Save">
			</div>
		</form>
	</div>





	<div id="id-update-user" style="display: none;">
		<p class="error-message"></p>
		<p class="success-message"></p>
		<form id="update_user_form" method="POST" action="{% url 'json_update_user' %}">
		  {% csrf_token %}
		  <div>
				<label for ="update_username">Username:</label>
				<input type="text" id="update_username" name="update_username" required><br>
				<label for="update_password1">Password1:</label>
				<input type="password" id="update_password1" name="update_password1" required><br>
				<label for="update_password2">Password2:</label>
				<input type="password" id="update_password2" name="update_password2" required><br>
		  </div>
		  <div class="form-group">
			<input type="submit" value="Save">
		  </div>
		</form>
	</div>

	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
