{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Simple Page</title>
</head>
<body>
    <div class="container">
        <h1>Welcome {{ request_user_id }} to My Simple Page</h1>
        <p>This is a paragraph of text on my simple webpage.</p>
    </div>
	<button id="fetchProfileButton">Fetch Profile Data</button>
	<div id="resultBox"></div>
	<button id="fetchProfileListButton">Fetch Profile List Data</button>
	<div id="resultBox2"></div>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
