{% extends "game/index.html" %}
{% load static %}
{% load i18n %}

{% block tournament %}

    <!-- Game navigation bar -->
    {% include 'game/header-button-logged.html' %}

    <!-- PUT YOUR CODE FROM HERE! -->
    <!-- 2 player game -->
    <body id="tournament-page">
        <h1 class="text-center">Tournament</h1>
        <p class="welcome">Welcome, <span id="username">{{ user.username }}</span>!</p>
        <div id="champ"></div>
        <div id="info"></div>
        <div class="tournament">
            <div class="round" id="semi-finals">
                <h2 class="text-center">Semi-finals</h2>
                <div class="match" id="match-semi-finals-0">
                    <h3>Match 1</h3>
                    <p class="player player1">Waiting for player</p>
                    <p class="vs">vs</p>
                    <p class="player player2">Waiting for player</p>
                </div>
                <div class="match" id="match-semi-finals-1">
                    <h3>Match 2</h3>
                    <p class="player player1">Waiting for player</p>
                    <p class="vs">vs</p>
                    <p class="player player2">Waiting for player</p>
                </div>
            </div>
            <div class="round">
                <h2 class="text-center">Final</h2>
                <div class="match" id="match-final">
                    <h3>Final Match</h3>
                    <p class="player player1">Waiting for player</p>
                    <p class="vs">vs</p>
                    <p class="player player2">Waiting for player</p>
                </div>
            </div>
        </div>
    
        <button id="go-to-match" class="hidden">Go to Match</button>
        <script src="{% static 'js/tour.js' %}"></script>
    </body>
    <!-- UNTIL HERE! -->
{% endblock tournament %}