{% extends "game/index.html" %}
{% load static %}
{% load i18n %}

{% block two_pl_game %}

    <!-- Game navigation bar *don't remove -->
    <div class="container" id="header-game">
        <div class="row justify-content-center">
            <div class="row justify-content-center btn-group">
                <a href="{% url 'game_start' %}" class="btn btn-outline-primary btn-sm" id="restart">👈 {% translate "Exit the game" %}</a>
            </div>
        </div>
    </div>

    <!-- PUT YOUR CODE FROM HERE! -->
    <!-- 2 player game -->
    <body>
        <div id="game-area">
            <div id="message" class="message"></div>
            <div id="ball"></div>
            <div id="paddle1" class="paddle"></div>
            <div id="paddle2" class="paddle"></div>
            <div id="player1-name" class="player-name"></div>
            <div id="score1">0</div>
            <div id="player2-name" class="player-name"></div>
            <div id="score2">0</div>
        </div>
    <script src="{% static 'js/2player.js' %}"></script>
    </body>
    <!-- UNTIL HERE! -->
{% endblock two_pl_game %}