{% extends "game/index.html" %}
{% load static %}

{% block content %}
{% if profile %}


	<h3 class="text-center">{{ profile.user.username }}'s Profile</h3><a href="{% url 'update_user' %}" class="badge badge-dark">
		edit account</a>
	{% if profile.avatar %}
		<img src="{{ profile.avatar.url }}" width=200 height=200 class="img-fluid rounded-start" alt="Profile Avatar">
	{% else %}
		<img src="{% static 'avatar/kermit.png'%}" width=200 height=200 class="img-fluid rounded-start" alt="Default Avatar">
	{% endif %}
	<a href="{% url 'update_avatar' %}" class="badge badge-dark">
		change</a><br/>
	<strong style="color: white;">Display Name for Tournaments</strong><br/>
	<p style="color: white;">{{ profile.display_name }}</p><a href="{% url 'update_display_name' %}" class="badge badge-dark">
		change</a><br/>
	<strong style="color: white;">Friends with</strong><br/>
	{% for friends in profile.friends.all %}

		<p style="color: white;">{{ friends }}</p><br/>

		{% if friends.online_status %}
			<p style="color: greenyellow;">online</p><br/>
		{% else %}
			<p style="color: red;">offline</p><br/>
		{% endif %}

	{% endfor %}
	<!-- profile_list needs to be implemented still -->
	<a href="{% url 'profiles_list' request.user.id %}" class="badge badge-light">Make new friends</a><br/>
	<strong style="color: white;">Stats</strong><br/>
	<table class="table table-striped table-dark">
		<thead>
		  <tr>
			<th scope="col">Games Played</th>
			<th scope="col">Wins</th>
			<th scope="col">Losses</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			<td>{{ total_games }}</td>
			<td>{{ profile.wins }}</td>
			<td>{{ profile.losses }}</td>
		  </tr>
		</tbody>
	  </table>

	  <strong style="color: white;">1v1 Match History</strong><br/>
	  <table class="table table-striped table-dark">
		<thead>
		  <tr>
			<th scope="col">TimeStamp</th>
			<th scope="col">Winner</th>
			<th scope="col">Loser</th>
		  </tr>
		</thead>
		<tbody>
			{% for row in table_data %}
		  <tr>
			<td>{{ row.0 }}</td>
			<td>{{ row.1 }}</td>
			<td>{{ row.2 }}</td>
		  </tr>
		  {% endfor %}
		</tbody>
	  </table>

{% endif %}
{% endblock %}
