{% load i18n %}

<div class="container" id="profile-menu">
	<div class="row justify-content-center">
		<div class="btn-group">
				<form id="logoutform" method="POST" action="{% url 'logout' %}">
					{% csrf_token %}
					<input type="hidden">
				</form>
				<a href="{% url 'profile' request.user.id %}" class="btn btn-outline-primary btn-sm">
					👈 {% translate "Profile" %}
				</a>
				<button type="button" id="leaderboard" class="btn btn-outline-primary btn-sm">🏆 {% translate "Leaderboard" %}</button>
				<a href="#" onClick="document.getElementById('logoutform').submit()" class="btn btn-outline-primary btn-sm">
					❌ {% translate "Log out" %}
				</a>
		</div>
	</div>
</div>