{% extends "game/index.html" %}
{% load i18n %}

{% block user %}
{% include 'users/profile_nav2.html' %}


<div class="btn-group-vertical">
  {% if form.errors %}
  <div class="row justify-content-center">
    <br>
    <p align="center" style="color: red;">{% translate "There was an error with your form... Please try again." %}</p>
  </div>
  {% endif %}
  <div class="btn-group-vertical">
    <div class="row justify-content-center">
      <form id="update_user_form" method="POST" action="{% url 'update_user' %}">
        {% csrf_token %}
        <div style="color: white;">
          {{ form.as_p }}
        </div>
        <div class="form-group">
          <input type="submit" value="{% translate 'Save' %}" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>  
</div>

{% endblock user %}
