{% extends "game/index.html" %}
{% load i18n %}

{% block user %}
{% include 'users/profile_nav2.html' %}


<div class="btn-group-vertical">
  {% if form.errors %}
    <p style="color: white;">There was an error with your form... Please try again.</p>
  {% endif %}

  <div class="row justify-content-center">
  <form id="update_user_form" method="POST" action="{% url 'update_user' %}">
    {% csrf_token %}
    <div style="color: white;">
      {{ form.as_p }}
    </div>
    <div class="form-group">
      <input type="submit" value="Save" class="btn btn-primary">
    </div>
  </form>
</div>
{% endblock user %}
